<div class='header-main'>
  <header class='top-page-header'>
    <div class='header-login-bar'>
      <h2 class='logo'>レスサポ</h2>
      <div class='header-login-btn'>
        <% if user_signed_in? == false && admin_signed_in? == false  %>
          <%= link_to '掲載希望の事業主様',  new_admin_registration_path, class:'new-btn' %>
          <%= link_to 'サポートに参加', new_user_registration_path, class:'new-btn' %>
        <% elsif user_signed_in? == true && admin_signed_in? == false %>
          <%= link_to current_user.nickname, "#", class:'new-btn' %>
          <%= link_to 'マイページ', user_path(current_user.id), class:'new-btn' %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'new-btn' %>
        <% elsif user_signed_in? == false && admin_signed_in? == true %>
          <%= link_to "#{current_admin.company_name} マイページ", informations_path, class:'new-btn' %>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:'new-btn' %>
        <% end %>
      </div>
    </div>
  </header>
  <div class='main'>
    <div class='title-contents'>
      <h1 class='service-title'>
        店舗の集客アプリ
      </h1>
      <p class='catch-copy'>
        誰でも簡単に店舗情報を発信できる
      </p>
      <p class='catch-copy'>
        自分の大好きな店舗を応援できる
      </p>
      <div class='login'>
      <% unless user_signed_in? || admin_signed_in? %>
        <%= link_to '事業主様ログイン', new_admin_session_path, class:'login-btn' %>
        <%= link_to 'サポーターログイン', new_user_session_path, class:'login-btn' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class='owner-explanation'>
  <div class='owner'>
    <h1 class='owner-left'>事業主様 </h1>
  </div>
  <div class='owner-exp'>
    <p>お店のアピールポイントを</p>
    <p>自由に発信</p>
  </div>
</div>
<div class='supporter-explanation'>
  <div class='supporter'>
    <h1 class='supporter-left'>サポーター</h1>
  </div>
  <div class='supporter-exp'>
    <p>お気に入りの店舗を応援しよう
    <p>応援メッセージ、フォロー、投げ銭システム搭載
  </div>
</div>
<%= form_with(url: search_informations_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "店舗を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class='item-contents'>
  <h2 class='title'>店舗一覧</h2>
  <ul class='information-lists'>
    <% @informations.each do |information| %>
      <li class='list'>
        <%= link_to information_path(information.id) do %>
        <div class='information-img-content'>
          <%= image_tag information.image, class: "information-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= information.shop_name %>
          </h3>
          <% (information.genres).each do |informationgenre| %>
            <div class="item-price">
              <%= informationgenre[:name] %>
            </div>
          <% end %>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>