<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @information.shop_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @information.image ,class:"item-box-img" %>
    </div>
  </div>
</div>
<div class="item-price-box">
  <span class="item-price">
    <%= @informationgenre.genre.name %>
  </span>
  <span class="item-postage">
    <%= @information.prefecture.name %>
  </span>
</div>
<% if @information.followed_by?(current_user) %>
  <td><%= link_to 'フォローを外す', information_follow_path(@information), method: :DELETE %> <%= @information.follows.count %></td>
<% else %>
  <td><%= link_to 'フォロー', information_follows_path(@information), method: :POST %> <%= @information.follows.count %></td>
<% end %>
<% if user_signed_in? %>
<div class="comment-top">
  <div class="comment-box">
    <%= form_with model: @comment, url: information_comments_path(@information.id), method: :post, local: true do |f| %>
      <div class="comment-box">
        <%= f.label :text, "コメント" %><br />
        <%= f.text_field :text %>
      </div>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    <% end %>
  </div>
  <ul class="comments_lists">
  <p>コメント一覧</p>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.text %>
          <%= link_to comment.user.nickname, "#", class: :comment_user %>
        </li >
      <% end %>
    <% end %>
  </ul>
<% end %>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の店舗
    </a>
    <a href="#" class="change-item-btn">
      後の店舗 ＞
    </a>
  </div>
</div>

  <%# <a href="#" class='another-item'><%= @item.category.nameをもっと見る</a> %>