<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @information.shop_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @information.image ,class:"item-box-img" %>
    </div>
  </div>
</div>
<div class="item-price-box">
  <% @informationgenres.each do |informationgenre| %>
  <span class="item-price">
    <%= informationgenre.genre.name %>
  </span>
  <% end %>
  <span class="item-postage">
    <%= @information.prefecture.name %>
  </span>
</div>
<%= link_to "料理情報", information_dishes_path(@information.id) %>
<%= link_to "店舗詳細", information_appeals_path(@information.id) %>
<div class="comment-top">
  <p>フォロワー数</p>
  <%= @information.follows.count %>
  <p>星</p>
  <div id="star-rate"></div>
  <script>
    $('#star-rate').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @rate_avg %>,
    });
  </script>
  <h4 class="mb-3">評価：<%= @rate_avg %>点 </h4>
  <% if user_signed_in? %>
    <div>
      <%= render 'follows/follow', information: @information%>
    </div>
    <div class="comment-box">
      <%= form_with model: @comment, url: information_comments_path(@information.id), method: :post, local: true do |f| %>
          <%= f.label :text, "コメント" %><br />
          <%= f.text_field :text %>
        <div class="field" id="star">
          <%= f.label :rate,  "星評価 (※必須)" ,id: "e"%>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <script>
            $('#star').raty({
                size: 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'comment[rate]',
            });
        </script>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <button type="submit" class="comment-btn">
          <% image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25" %>
          <span>コメントする<span>
        </button>
      <% end %>
    </div>
    <ul class="comments_lists">
    <p>コメント一覧</p>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <%= comment.text %>
            ( <%= comment.user.nickname %> )
          </li >
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <% if admin_signed_in? %>
    <%= link_to "料理情報登録", new_information_dish_path(@information.id), class:'admin_my_page' %>
    <%= link_to "アピールポイント登録", new_information_appeal_path(@information.id), class:'admin_my_page' %>
  <% end %>
  <%= link_to "トップページ", root_path %>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の店舗
    </a>
    <a href="#" class="change-item-btn">
      後の店舗 ＞
    </a>
  </div>
</div>

  <%# <a href="#" class='another-item'><%= @item.category.nameをもっと見る</a> %>